<div>
	<svg width="100" [attr.height]="height" style="background-color: blue;">
		<g>
			<rect width="100%" *ngIf="greenPercentage" [attr.height]="greenPercentage + '%'" x="0" y="0" fill="green" />
			<rect width="100%" *ngIf="redPercentage" [attr.height]="redPercentage + '%'" x="0" y="0" fill="red" />
			<text x="50%" [attr.y]="redTextPosition + '%'" text-anchor="middle" dominant-baseline="middle" [attr.font-size]="textFont" [attr.fill]="textColor">{{ ratio.redValue | currency : 'EUR': true }}</text>
			<text x="50%" [attr.y]="greenTextPosition + '%'" text-anchor="middle" dominant-baseline="middle" [attr.font-size]="textFont" [attr.fill]="textColor">{{ ratio.greenValue | currency : 'EUR': true }}</text>
			<text x="50%" [attr.y]="blueTextPosition + '%'" text-anchor="middle" dominant-baseline="middle" [attr.font-size]="textFont" [attr.fill]="textColor">{{ ratio.blueValue | currency : 'EUR': true }}</text>
		</g>
	</svg>
	<input type="number" [(ngModel)]="height" />
</div>