.component-container {
	height: 600px;
	width: 300px;
	border: 1px solid black;
}

.empty-space {
	height: 20%;
}

.column-container {
	height: 80%;
}

p.blocktext {
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
}

.first-row {
	height: 33%;
	background-color: red;
	border: 5px solid white;
	border-radius: 10%;
}

.second-row {
	height: 33%;
	background-color: red;
	border: 5px solid white;
	border-radius: 10%;
}

.third-row {
	height: 34%;
	background-color: red;
	border: 5px solid white;
	border-radius: 10%;
}