<div class="component-container">
	<div class="empty-space" [style.height]="emptyDivPercentage + '%'"></div>
	<div class="column-container" [style.height]="containerDivePercentage + '%'">
		<!-- <div class="column-row">
			<p class="blocktext">Some text for test.</p>
		</div>
		<div class="column-row">
			<p class="blocktext">Some text for test.</p>
		</div>
		<div class="column-row">
			<p class="blocktext">Some text for test.</p>
		</div> -->
		<div *ngFor="let column of columnItems" [style.height]="getColumnHeightPercentage(column.value) + '%'" class="column-row">
			<p class="blocktext">Some text for test.</p>
		</div>
	</div>
</div>

<input type="number" [ngModel]="inflation" (ngModelChange)="onInflationChange($event)">