.component-container {
	height: 600px;
	width: 300px;
	border: 1px solid black;
}

.empty-space {
	height: 20%;
}

.column-container {
	height: 80%;
}


.column-row {
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}