<app-svg-column></app-svg-column>
<!-- <app-chart-list [ratios]="ratioList"></app-chart-list> -->
<!-- <div style="width: 50%; float: left;">
	<app-column [inflation]="inflation" [columnItems]="columnItems"></app-column>
</div>
<div style="width: 50%; float: left;">
	<app-column [columnItems]="columnItems"></app-column>
</div>

inflation
<input type="number" [(ngModel)]="inflation" >
column item 1
<input type="number" [(ngModel)]="columnItem1.value" >
column item 2
<input type="number" [(ngModel)]="columnItem2.value" >
column item 3
<input type="number" [(ngModel)]="columnItem3.value" >
column item 4
<input type="number" [(ngModel)]="columnItem4.value" > -->